body {
    background: #006266;
    color: #FFC312;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;

    #header {
        p {
            font-size: 48px;
            padding-left: 5px;

            @media (max-width: 595px) {
                font-size: 27px;
                width: 100%;
                padding-left: 0;
                text-align: center;
            }
        }

        img {
            width: 100vw;

            @media (max-width: 595px) {
                height: 50%;
            }
        }
    }

    #searchEngine {
        border: 1px solid black;
    }

    #taster{
        margin-top: 10px;
        @media (max-width: 595px) {display: none;}
    }
    .hideTable {
        display: none;
    }
    
    .hideNoMatch {
        display: none;
    }
}